<ion-header>
  <ion-toolbar>
    <ion-title>Metadata</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="metadata-content" *ngIf="metadata; else loading">
      <h2>Beekeeper Metadata</h2>
      <table>
        <tr *ngFor="let key of metadataKeys">
          <td class="key">{{ key }}</td>
          <td class="value">{{ metadata[key] }}</td>
        </tr>
      </table>
    </div>
    <ng-template #loading>
      <ion-spinner></ion-spinner>
      <p class="loading-text">Loading metadata...</p>
    </ng-template>
  </div>
</ion-content>
