<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="signin-content">
      <div class="signin-image">
        <img src="assets/images/hive.png" alt="sign in image">
      </div>
      <div class="signin-form">
        <h2 class="form-title">Login</h2>
        <p class="welcome-message">Hello beekeeper! Please log in to access your account.</p>
        <ion-button expand="block" (click)="login()">Log in via MetaMask</ion-button>
      </div>
    </div>
  </div>
</ion-content>
